/* Nice fonts
Helvetica Neue LT Std
Franklin Gothic Book

Garamond 3 LT Std
ITC Garamond Std Book
Adobe Garamond Pro
Apple Garamond
*/
div.main_vertical_list {
    margin-left: auto;
    margin-right: auto;
    width: 90ex;
    font-family: Helvetica Neue LT Std, Helvetica Neue LT, Helvetica LT, Helvetica, Arial, sans-serif;
    font-size: 12pt;
}
div.movie_storyline {
    text-align: justify;
}
div.movie_title {
    color: #006600;
    font-size: 19pt;
    font-weight: 900;
}
div.movie_basics {
    color: #0033CC;
    font-size: 14pt;
    font-style: italic;
}
div.movie_stars {
    color: #663300;
    text-align: right;
    margin-top: 0.5ex;
}
div.movie_hints {
    text-align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
    text-transform: uppercase;
    font-size: 10pt;
}
img.movie_poster {
    width: 20ex;
    margin-right: 4ex;
}
div.movie_card_container {
    margin-bottom: 2cm;
}
div.movie_card_poster {
    display: inline-block;
}
div.movie_card {
    display: inline-block;
    width: 65ex;
}
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
  color: #0033CC;
}
